<div id="nav_bar">
    <a class = "nav_link" href="/">
        <div class="nav_button">
            <p class="nav_button_text"></p>    
        </div>
    </a>
    <a class = "nav_link" href="/">
        <div class="nav_button">
            <p class="nav_button_text"></p>    
        </div>
    </a>
    <a class = "nav_link" href="/">
        <div class="nav_button">
            <p class="nav_button_text"></p>    
        </div>
    </a>
</div>