<div id="nav_bar">
    <a class = "nav_link" href="/authors">
        <div class="nav_button">
            <p class="nav_button_text">Authors</p>    
        </div>
    </a>
    <a class = "nav_link" href="/books">
        <div class="nav_button">
            <p class="nav_button_text">Books</p>    
        </div>
    </a>
    <a class = "nav_link" href="/genres">
        <div class="nav_button">
            <p class="nav_button_text">Genres</p>    
        </div>
    </a>
</div>